#navbar {
    background: rgba(88, 126, 174, 0.95) !important;
    color: white;
}
.nav-font {
    color: white !important;
}

.card-header {
    color: rgba(88, 126, 174, 0.95) !important;
    font-weight: 500;
}